html { 
    font: 100%/1.5 'LFT Etica', 'Helvetica Neue', 'Arial', sans-serif;
    color: #f0f0f0;
    position: relative;
    -webkit-font-smoothing: antialiased;
}

.hero__button {
    font-weight: 400;
    font-size: 18px;
    margin-top: 14px;
    border: none;
    background-color: rgba(255,255,255,0.1);
    height: 60px;
    padding-left: 30px;
    padding-right: 30px;
}

.h2 {
    font-weight: 600;
    font-size: 22px;
    margin: 0 0 -6px 63px;
}

.h3 {
    font-weight: 800;
    font-size: 25px;
    margin: 0 0 5px 0;
    line-height: 1.25;
}

.h3--fallback {
    font-weight: 800;
    font-size: 19px;
    margin: 0;
    line-height: 1.25;
}

.h4 {
    display: none;
    font-weight: 500;
    font-size: 16px;
    color: #ccc;
    margin: 0;
    max-width: 100%;
    overflow: hidden;
}

.hero__textarea h1 {
    font-weight: 700;
    font-size: 38px;
    line-height: 1.3;
}

.hero__textarea h2 {
    font-weight: 300;
    font-size: 22px;
}

* {
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
}

a, button {
    transition: .5s;
}

body {
    background: #666;
}

.wrapper {
    position: relative;
    width: 1280px;
    height: 720px;
    overflow-y: scroll;
    overflow-x: hidden;
    background-image: url(../images/background-1080p-v2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 0;
    -webkit-overflow-scrolling: auto;
    -ms-overflow-style: none;
    user-select: none;
}

.wrapper::-webkit-scrollbar {
    display: none;
}

.heroholder {
    position: absolute;
    right: 0;
}

.heroholder img {
    -webkit-mask-image: url(../images/gradientmask.png);
    -webkit-mask-position: 0px 0px;
    -webkit-mask-size: cover;
    -webkit-mask-repeat: no-repeat, no-repeat;
    mask-type: luminance;
}

.topmenu {
    text-align: right;
    position: relative;
    z-index: 1000;
    background-color: rgba(15,29,39,0.4);
    font-weight: 600;
    font-size: 20px;
    line-height: 60px;
    padding: 0 63px;
    margin: 0 0 10px;
}

.legend {
display: none;
   position: absolute;
   text-align: center;
   color: #152430;
   width: 800px;
   padding: 40px 20px 50px;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
   background: rgba(255,255,255,0.9);
   z-index: 1000;
   border-radius: 40px;
}

.legend img {
    opacity: .9;
}

.legend > .hero__button {
    background: rgba(0,185,242,0.9);
}

.topmenu__logo {
    float: left;
    padding: 4px 0;
}

.topmenu__item {
    display: inline-block;
    padding-left: 60px;
}

.topmenu__item:focus {
    color:  rgba(0,185,242,0.9);
    transform: scale(1.12); 
}

.topmenu__item--username {
    font-weight: 200;
}

.topmenu__item--username > svg {
    margin: auto -1px -4px 0;
}

.topmenu__item--username:focus > svg {
    color: rgba(0,185,242,0.9); 
}

.align-left {
    text-align: left
}

.align-right {
    text-align: right
}

.hero {
    position: relative;
    height: 320px;
    margin-left: 63px;    
}

.hero__textarea {
    position: absolute;
    width: 460px;
    top: 48px;
    left: 42px;
    text-align: center;
}

.hero__textarea h1 {
    margin: 0 10px 0 10px;
    padding: 0 10px 0 10px;
}

.hero__textarea h2 {
    margin: 10px 10px 0 10px;
    padding: 10px 10px 0 10px;
}

.hero__button:focus {
    background-color: rgba(0,185,242,0.9); 
    transform: scale(1.12); 
    border-color: transparent;
    box-shadow: none;
}

.scrollrow {
    margin-top: -20px;
    padding: 28px 63px 38px 0;
    width: 100%;
    text-indent: 51px; 
    overflow-x: scroll;
    overflow-y: visible;
    -webkit-overflow-scrolling: auto;
    -ms-overflow-style: none;
    white-space: nowrap;
    user-select: none;
    position: relative;
}

.scrollrow::-webkit-scrollbar {
    display: none;
   }

.scrollrow > * {
    display: inline-block;
    text-indent: 0;
    vertical-align: top;
}

.scrollrow a {
    max-width: 100%;
    white-space: pre-wrap;
}

.plug {
    position: relative;
    margin: 8px 12px 5px 12px;
    font-size: 19px;
}

.plug--small:focus,
.plug--fallback:focus {
    color: rgba(0,185,242,1);
    transform: scale(1.1);  
    text-shadow: 2px 2px 6px black;
}

.plug--fallback h3 {
    opacity: 0;
}

.plug--fallback:focus h3 {
    opacity: 1;
    animation: fadeIn ease-in .2s backwards;
    color: #f0f0f0;
}

.plug:focus h4 {
    display: inline-block;
    margin-top: 5px;
    animation: fadeIn ease-in .2s backwards;
}

.plug--card--medium:focus,
.plug--card--large:focus {
    transform: scale(1.05); 
}

.plug--card--large:focus .plug--card__textarea {
    transition: .6s;   
    margin: -50px 0 0 0; 
    padding: 0 50px 20px 25px;
}


.plug--portrait:focus {
    transform: scale(1.08); 
}

.plug--series:focus {
    transform: scale(1.08); 
}

.plug--category:focus {
    transform: scale(1.2); 
}

.plug img {
    width: 100%;       
    display: block;
    margin-bottom: 5px;
    border-radius: 3px;
    opacity: .9;
}
.plug:focus img {
    box-shadow: 3px 3px 30px 1px rgba(0, 0, 0, .9);
    opacity: 1;
}


.plug--small {
    width: 262px;
    font-size: 19px;
}

.plug--fallback {
    width: 358px;
}

.plug--series {
    width: 358px;
}

.plug--category {
    font-size: 19px;
    width: 166px;
}

.plug--category span {
    position: absolute;
    top: 40%;
    transform: translateY(-60%);
    left: 15px;
    right: 10px;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
    z-index: 3000;
}

.plug--category span {
    color: #f0f0f0;
}


.current {
    opacity: .3;
}

.plug--card--medium {
    width: 358px;
    /* min-height: 320px; */
    background: #000;
    border-radius: 0 0 4px 4px;
}

.plug--card--large {
    width: 545px;
    background: #000;
}

.plug--card__textarea {
    position: relative;
    padding: 0 50px 10px 25px;
    max-width: 100%;
    margin: -40px 0 0 0;    
    font-size: 19px;
    hyphens: manual;
    white-space: normal;    
    min-height: 120px;
}

.plug--card--large > .plug--card__textarea h3 {
    margin-right: 90px;
}




.plug--portrait {
    width: 204px;
}

@keyframes fadeIn { from { opacity:0; } }

.scrollrow > * {
  animation: fadeIn ease-in .5s backwards;
}